.uploader-popup {
    position: fixed !important;
    bottom: 0;
    &-top {
      &-title {
        font-size: 16px;
        font-weight: 600;
        line-height: 70px;
        color: rgba(54, 59, 50, 1);
        text-align: center;
      }
      &-close {
        position: absolute;
        right: 15px;
        top: 15px;
        width: 20px;
        height: 20px;
      }
    }
    &-img {
      display: flex;
      flex-direction: row;
      justify-content:space-around;
      align-items: center;
      width: 90%;
      &-item {
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
        text-align: center;
        &-img {
          width: 80px;
          height: 80px;
        }
      }
    }
    &-btns {
      display: flex;
      padding: 30px 0 60px;
      &-item {
        width: 150px;
        height: 70px;
        border-radius: 35px;
        line-height: 70px;
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        color: rgba(74, 91, 90, 1);
        .nut-avatar-cropper-edit-text {
          background-color: transparent;
        }
        &.album {
          background: rgba(211, 255, 250, 1);
          margin-right: 20px;
        }
        &.camera {
          background: rgba(188, 255, 227, 1);
        }
        // &:first-child {
        //   background: rgba(211, 255, 250, 1);
        //   margin-right: 20px;
        // }
        // &:last-child {
        //   background: rgba(188, 255, 227, 1);
        // }
      }
    }

    .nut-avatar-cropper-popup {
      // top: 90px;
      .nut-avatar-cropper-popup-highlight {
      }
      .nut-avatar-cropper-popup-canvas  {
        bottom: 80px;
        height: calc(100vh - 80px) !important;
      }
    }
  }