$lineGradient1: linear-gradient(90deg, #fbfbfb, #ffffff66);

.home-tabs {
    &-title {
        display: flex;
        flex-direction: row;
    }
    
    &-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 5px 10px;
        background: transparent;

        &-left, &-right {
            width: calc(50% - 5px);
        }
        &-left {
            margin-right: 10px;
        }
        &-item {
            position: relative;
            box-sizing: border-box;
            border-radius: 12px;
            // width: calc(50% - 5px);
            width: 100%;
            margin-bottom: 10px;
            background-color: #ffffff;
            overflow: hidden;
            // padding: 6px;
            &:nth-child(2n) {
                padding-right: 0;
            }
            &-new {
                width: 100%;
            }
            &-img {
                width: 100%;
                border-top-right-radius: 8px;
                border-top-left-radius: 8px;
            }
            &-text {
                padding: 6px;
                color: #3A3126;
                font-family: PingFang SC;
                font-size: 13px;
                font-weight: 500;
                line-height: 18px;
            }
            &-bottom {
                display: flex;
                padding: 0 6px 6px;
            }
            &-avatar {
                width: 18px;
                height: 18px;
                border-radius: 50%;
                margin-right: 4px;
            }
            &-username {
                font-family: PingFang SC;
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                color: rgba(58, 49, 38, 0.80);
            }
        }
    }
    .nut-tabpane {
        padding: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 100%);
    }
    &-wrap {
        width: 355px;
        margin: 0 10px;
        .nut-tabs-titles {
            padding: 0;
            border-top-left-radius: 13px;
            border-top-right-radius: 13px;
            color: rgba(54, 59, 50, 0.96);
            font-family: 江城圆体;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px;
            background: $lineGradient1;
            height: 60px;
        }
        .nut-tabs-list {
            align-items: center;
        }
        .nut-tabs-titles-item-active {
            color: rgba(54, 59, 50, 0.96);
            background: linear-gradient(95deg, #BCFFE3 0%, #C1FFBC 100%);
            font-weight: 600;
            border-radius: 8px;
        }
        .nut-tabs-titles-item-line {
            display: none;
        }
        .nut-tabs-titles-item {
            width: 72px;
            height: 35px;
        }
    }
    &-loading {
        display: flex;
        margin:  155px auto;
        &-img {
            width: 30px;
            height: 30px;
        }
    }
}