.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: #fff;
  &-top {
    width: 335px;
    height: 60px;
    background: #F7F7F8;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    justify-content: space-between;
    &-left {
      display: flex;
    }
    &-avatar {
      width: 40px;
      height: 40px;
      border-radius: 10px;
      margin-right: 10px;
    }
    &-info {
      display: flex;
      flex-direction: column;
      &-text {
        color: #505D5B;
        font-family: 江城圆体;
        font-size: 14px;
        font-weight: 600;
        line-height: 21px;
      }
      &-change {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 2px;
        &-icon {
          width: 10px;
          height: 10px;
        }
        &-text {
          margin-left: 2px;
          color: #727D7E;
          font-family: 江城圆体;
          font-size: 12px;
          font-weight: 600;
          line-height: 18px;
        }
      }
    }
    &-again {
      width: 95px;
      height: 29px;
      background: #FFF;
      margin-right: 6.5px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      &-text {
        color: #727D7E;
        text-align: right;
        font-family: 江城圆体;
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
      }
      &-icon {
        width: 12px;
        height: 12px;
      }
    }
  }
  &-img {
    position: relative;
    width: 335px;
    height: 335px;
    font-family: 江城圆体;
    font-weight: 600;
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 335px;
      height: 335px;
      border-radius: 20px;
      z-index: 999;
    }
    &-icon, &-loading {
      width: 30px;
      height: 30px;
    }
    &-text {
      color: rgba(0, 0, 0, 0.08);
      font-size: 17px;
      line-height: 25px;
      margin-bottom: 14px;
    }
    &-tip {
      color: rgba(0, 0, 0, 0.12);
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 3px;
    }
  }
  &-btns {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    &-item {
      width: 74px;
      height: 74px;
      background: #D3FFFA;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 18px;
      opacity: 0.4;
      &-border {
        height: 80px;
        width: 80px;
        margin-right: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.active {
          background: url(https://carton-public.oss-cn-beijing.aliyuncs.com/public/result/border.png);
          background-repeat: no-repeat;
          background-size: cover;
          .result-btns-item {
            opacity: 1;
          }
        }
      }
      &.nodisable {
        opacity: 1;
      }
      &-img {
        width: 74px;
        height: 74px;
        border-radius: 19px;
      }
      &.active {
        border: 2px solid;
      }
      &.disabled {
        opacity: 0.4;
      }
      &.again {
        display: flex;
        flex-direction: column;
      }
      &:last-child {
        margin-right: 0;
      }
      &-loading {
        width: 30px;
        height: 30px;
      }
      &-again {
        width: 26px;
        height: 26px;
      }
      &-text {
        color: #4B5B4A;
        text-align: center;
        font-family: 江城圆体;
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
      }
    }
  }
  &-save {
    width: 200px;
    height: 70px;
    background: linear-gradient(95deg, #BCFFE3 0%, #C1FFBC 100%);
    border-radius: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    margin-top: 60px;
    &.active {
      opacity: 1;
      background: linear-gradient(95deg, #BCFFE3 0%, #C1FFBC 100%);

    }
    &-icon {
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }
    &-text {
      color: #2E3131;
      text-align: center;
      font-family: 江城圆体;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
    }
  }
  &-tip {
    margin-top: 10px;
    color: #4B5B4A;
    text-align: center;
    font-family: 江城圆体;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
}