.index {
  height: 100vh;
  display: flex;
  flex-direction: column;
  
  &-top {
    // margin-top: -20px;
    padding: 110px 16px 20px;
    &-title {
      color: #2E3131;
      font-size: 22px;
      font-weight: 600;
      line-height: 33px;
      letter-spacing: 0px;
      text-align: left;
    }
    &-tip {
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      text-align: left;
      color: rgba(0, 0, 0, 0.4);
    }
    &-none {
      position: absolute;
      top: 64px;
      left: 0;
      height: 302px;
      width: 100%;
      z-index: -1;
    }
    &-latest {
      height: 43px;
      width: 50px;
      // position: absolute;
      // top: 160px;
      // right: 14px;
    }
    &-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  &-experience {
    position: fixed;
    bottom: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    &-btn {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 200px;
      height: 70px;
      background: linear-gradient(112deg, #000 23.28%, #202626 73.69%);
      stroke-width: 2px;
      stroke: #D3FFFA;
      border-radius: 35px;
      &-text {
        position: relative;
        color: #FDFF9C;
        text-align: center;
        font-family: 江城圆体;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        &-icon {
          position: absolute;
          right: -21px;
          top: -5px;
          height: 24px;
          width: 24px;
        }
      }
      &-tip {
        color: rgba(253, 255, 156, 0.60);
        text-align: center;
        font-family: 江城圆体;
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
      }
    }
  }

  &-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 165px;
    width: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.96) 29.05%, rgba(255, 255, 255, 0.00) 100%);
  }

  &-desc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 200px;
    &-logo {
      width: 30px;
      height: 30px;
    }
    &-title {
      font-size: 17px;
      font-weight: 600;
      line-height: 25px;
      color: rgba(227, 227, 227, 1);
    }
    &-tip {
      font-size: 12px;
      font-weight: 600;
      line-height: 18px;
      color: rgba(219, 219, 219, 1);
    }
  }
  &-nav-bar {
    display: flex;
    // position: absolute;
    // bottom: 7.5px;
    padding-top: 8px;
    align-items: center;
    &-icon {
      height: 20px;
      width: 20px;
      // margin: 2px 1px 6px 16px;
      margin-left: 16px;
      margin-right: 1px;
    }
    &-title {
      color: #384A49;
      font-family: 江城圆体;
      font-size: 17px;
      font-weight: 600;
    }
  }
  &-tab {
    margin-top: -120px;
  }
  .nut-avatar-cropper-popup {
    // top: 90px;
    .nut-avatar-cropper-popup-highlight {
    }
    .nut-avatar-cropper-popup-canvas  {
      bottom: 80px;
      height: calc(100vh - 80px) !important;
    }
  }
}
