.ad-process-popup {
    height: 540px;
    width: 335px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    &-video {
        height: 460px;
        width: 335px;
    }
    &-process {
        width: 300px;
        margin: 25px auto 0;
    }
    &-tip {
        margin-top: 10px;
        color: #2E3131;
        text-align: center;
        font-family: 江城圆体;
        font-size: 14px;
        font-weight: 600;
        line-height: 21px;
    }
    &-countDown {
        position: absolute;
        right: 10px;
        top: 12px;
        width: 48px;
        height: 28px;
        color: #FFF;
        text-align: center;
        font-family: 江城圆体;
        font-size: 12px;
        font-weight: 600;
        line-height: 28px;
        border-radius: 15px;
        background: #0000003D;
        border: 1px solid #FFFFFF80;
    }
}