view,
text,
scroll-view,
input,
button,
image,
cover-view {
  box-sizing: border-box;
}
page {
  /* prettier-ignore */
  --height: 44PX; /* 4*2+32 */
  /* prettier-ignore */
  --right: 97PX; /* 10+87 */
  /* prettier-ignore */
  --navBarExtendHeight: 4PX;
  /* prettier-ignore */
  --navBarHeight: 68PX;
  box-sizing: border-box;
}
.nav-bar .ios {
  /* prettier-ignore */
  --height: 44PX; /* 4*2+32 */
  /* prettier-ignore */
  --right: 97PX; /* 10+87 */
  /* prettier-ignore */
  --navBarExtendHeight: 4PX;
  box-sizing: border-box;
}
.nav-bar .android {
  /* prettier-ignore */
  --height: 48PX; /* 8*2+32 */
  /* prettier-ignore */
  --right: 96PX; /* 10+87 */
  /* prettier-ignore */
  --navBarExtendHeight: 4PX;
  box-sizing: border-box;
}
.nav-bar .devtools {
  /* prettier-ignore */
  --height: 42PX; /* 5*2+32 */
  /* prettier-ignore */
  --right: 88PX; /* 10+87 */
  /* prettier-ignore */
  --navBarExtendHeight: 4PX;
  box-sizing: border-box;
}
.nav-bar__inner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5001;
  /* prettier-ignore */
  height:  var(--navBarHeight);
  display: flex;
  align-items: center;
  padding-right: var(--right);
  width: 100%;
  /* prettier-ignore */
  // padding-top: 20PX;
  /* prettier-ignore */
  // padding-bottom:4PX;
  .placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
.nav-bar__inner .nav-bar__left {
  position: relative;
  width: var(--right);
  /* prettier-ignore */
  height: 32PX;
  /*  padding-left: 10PX; */
  /* prettier-ignore */
  margin-left:10PX;
  display: flex;
  align-items: center;
}
.nav-bar__buttons {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  /* prettier-ignore */
  border-radius: 16PX;
  border: 1px solid rgba(204, 204, 204, 0.6);
  position: relative;
}
.nav-bar__buttons.android {
  border: 1px solid rgba(234, 234, 234, 0.6);
}
.nav-bar__buttons::after {
  position: absolute;
  content: '';
  width: 1px;
  /* prettier-ignore */
  height: 18.4PX;
  background: rgba(204, 204, 204, 0.6);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.nav-bar__buttons.android::after {
  background: rgba(234, 234, 234, 0.6);
}
.nav-bar__button {
  width: 50%;
  height: 100%;
  display: flex;
  /* prettier-ignore */
  font-size: 12PX;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1em 2em;
}

.nav-bar__inner .nav-bar__left .nav-bar__btn_goback:active,
.nav-bar__inner .nav-bar__left .nav-bar__btn_gohome:active {
  opacity: 0.5;
}

.nav-bar__inner .nav-bar__loading {
  font-size: 0;
}
.nav-bar__inner .nav-bar__loading .lxy-loading {
  margin-left: 0;
}
.nav-bar__inner .nav-bar__right {
  /* prettier-ignore */
  margin-right: 10PX;
}




